<canvas id="background"></canvas>
<div class="background12">
  <h1 class="h112">Coming Soon_</h1>
  <p class="p112">: : . : : . : :</p>
  
</div>

<link rel="stylesheet" href="/css/baloon-animation.css">
<script src="/javascript/baloon-animation.js"></script>