<script src="https://kit.fontawesome.com/a73f9c0e98.js" crossorigin="anonymous"></script>
<style>
 

    .social-auth-link {
        display: flex;
        align-items: center;

        border-radius: 4px;
        height: 50px;
        background: rgb(48, 48, 48);
       margin-bottom: 12px;


    }

    .social-auth-link a {
        margin-left: 30px;
        color: white;
    }

    .social-auth-link i {
        margin-left: 20px;
        color: white;
        font-size: 22px;


    }

    .other-option {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-bottom: 20p
    }
    .w3l-loginhny{
        margin-top: 100px;
    }
    @media(max-width:328px){
        .social-auth-link a{
            font-size: 16px;
        }
    }
     @media(max-width:305px){
        .social-auth-link a{
            font-size: 16px;
            margin-left: 15px;
        }
    }
       @media(max-width:283px){
        .social-auth-link a{
            font-size: 14px;
            margin-left: 11px;
        }
    }
</style>
<section class="w3l-loginhny py-5">
		<!-- login -->
		<div class="container py-lg-3">
		  <div class="w3l-hny-login">
              
			<div class="w3l-hny-login-info">
                <div class="social-auth-link">
                    <i class="fab fa-github"></i>
                    <a href="/auth/github">Login with Github</a>
                </div>
                 <div style="background: rgba(151, 11, 18, 0.734);" class="social-auth-link">
                    <i class="fab fa-google-plus-g"></i>
                    <a href="/auth/google">Login with Google</a>
                </div>
                 {{!-- <div style="background-color: rgb(14, 106, 148);" class="social-auth-link">
                    <i class="fab fa-facebook-f"></i>
                    <a href="">Login with Facebook</a>
                </div> --}}
			  <h2>Login with your email</h2>
			  <form action="#" method="post">
          {{#if userLoginError}}
          <div style="width: 100%;">
          <label style="color: rgb(175, 15, 15);" for="">Invalid Email or password</label>
          </div>
          {{/if}}
          {{#if blockUser}}
          <div style="width: 100%;">
          <label style="color: rgb(175, 15, 15);" for="">Your account is blocked</label>
          </div>
          {{/if}}
				<label>Email</label>
				<div class="input-group">
				  <input type="email" name="Email" placeholder="" required="" autofocus>
				</div>
				<label>Password</label>
				<div class="input-group">
				  <input type="Password" name="Password" placeholder="" required="">
				</div>
				{{!-- <div class="login-check">
				  <a class="forgot" href="forgot-password.html">Forgot password?</a>
				</div> --}}
				<button class="btn read-button btn-login" type="submit">Login</button>
			  </form>
        <p class="account1">Login with  <a href="/user-otp-login">Otp</a></p>
			  <p class="account1">Dont have an account yet? <a href="/sign-up">Get it now</a></p>
			</div>
		  </div>
		</div>
	  </section>