<section style="margin-top: 100px;" class="w3l-loginhny py-5">
    <!-- login -->
    <div class="container py-lg-3">
        <div class="w3l-hny-login">
            <div class="w3l-hny-login-info">
                <h2>Otp verification</h2>
                <form action="/user-signup-otp-verify" id="userOtpValidateSignup" method="post">
                    <label>Otp</label>
                    <div class="input-group">
                        <input style="-moz-appearance: textfield;" type="number" name="Otp" placeholder="0 0 0 0 0 0"
                            autofocus>
                    </div>
                    <button class="btn read-button btn-login" type="submit">Verify</button>
                </form>
            </div>
        </div>
    </div>
</section>