<div
  style="margin-top: 100px;  display: flex; margin-left: 260px;margin-right: 200px; justify-content: center; align-items: center; margin-bottom: 60px;padding-top: 40px;padding-bottom: 40px; background: lightslategray;">

  <div style="  display: flex; flex-direction: column; ">

    <button onclick="saveSeatNumbers('{{seatArrangement._id}}')" class="btn btn-info m-2">Save Change </button>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>
    <div style="display: flex; flex-direction: row;">

      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">
      <input class="addSeatNumber" type="text"
        style=" width: 40px; height: 40px; margin: 5px; font-size: 12px; color: white; border: none; background: rgb(49, 49, 49)"
        name="" id="">

    </div>

  </div>
</div>
{{#each seatArrangement.seatStructure}}
<input style="display: none;" class="allSeats" type="text" value="{{this}}">
{{/each}}
{{#each seatNumber.seatNumber}}
<input style="display: none;" class="seatNumbers" type="text" value="{{this}}">
{{/each}}

<script>
  var totalseat = document.getElementsByClassName('allSeats')
  // document.getElementById('a').t
  var Seats

  for (var i = 0; i < totalseat.length; i++) {
    Seats = document.getElementsByClassName('allSeats')[i]
    document.getElementsByClassName('addSeatNumber')[i].maxLength = '4'
    if (Seats.value === 'Available_seats') {
      document.getElementsByClassName('addSeatNumber')[i].style.background = ' rgb(49, 49, 49)'
      document.getElementsByClassName('addSeatNumber')[i].style.outline = 'none'
    } else {
      document.getElementsByClassName('addSeatNumber')[i].style.background = 'lightslategray'
      document.getElementsByClassName('addSeatNumber')[i].setAttribute('disabled', 'disabled')


    }
  }
</script>
<script>
  function saveSeatNumbers(seatArrangementId) {
    var totalSeats = document.getElementsByClassName('addSeatNumber')
    var seatNumber
    var seats = []

    var ccount = 0
    var count = 0

    for (var i = 0; i < totalSeats.length; i++) {
      seatNumber = document.getElementsByClassName('addSeatNumber')[i].value

      flag = 0
      for (var j = 0; j < seats.length; j++) {
        if ((seats[j] === seatNumber) && (seats[j] !== 'Free_space')) {
          flag = 1
          break
        }
      }
      if (flag == 0) {
        document.getElementsByClassName('addSeatNumber')[i].style.background = 'green'
        if (seatNumber === '') {
          seats[i] = 'Free_space'
          ccount += 1
        } else {
          seats[i] = seatNumber
        }
      } else {
        document.getElementsByClassName('addSeatNumber')[i].style.background = 'red'
        ++ccount
      }
    }
    for (var i = 0; i < seats.length; i++) {
      Seats = document.getElementsByClassName('allSeats')[i]
      if (Seats.value === 'Available_seats') {
        if (seats[i] === 'Free_space') {
          document.getElementsByClassName('addSeatNumber')[i].style.background = ' rgb(49, 49, 49)'
          document.getElementsByClassName('addSeatNumber')[i].style.outline = 'none'
        }
      } else {
        document.getElementsByClassName('addSeatNumber')[i].style.background = 'lightslategray'
        document.getElementsByClassName('addSeatNumber')[i].setAttribute('disabled', 'disabled')
        count += 1
      }
    }
    if (ccount !== count) {
      alert("add number properly and try again")
    } else {
      $.ajax({
        url: '/theater-management/add-seat-number/',
        method: 'post',
        data: {
          seatStructureId: seatArrangementId,
          seatNumber: JSON.stringify(seats)
        },
        type: 'json',
        success: (response) => {
          location.reload()

        }
      })
    }
  }
</script>
<script>
  var seatNumbers = document.getElementsByClassName('seatNumbers')
  for (var i = 0; i < seatNumbers.length; i++) {
    var a = document.getElementsByClassName('seatNumbers')[i].value
        if (a === 'Free_space') {
          
        document.getElementsByClassName('addSeatNumber')[i].value=''
        }
       else {
        
        document.getElementsByClassName('addSeatNumber')[i].value = a
      }
    
    

  }
</script>