

<div style="display: flex; justify-content: center; margin-left: 250px; margin-top: 200px; ">
<div style="height: 270px; width: 600px; overflow-y: auto; background: rgba(179, 176, 175, 0.631); padding: 20px; border-radius: 4px;border: solid #dfdfdf;
box-shadow: 0px 0px 3px 2px #c1c1c1;">
    <h4 style="text-align: center; color: rgb(87, 80, 80);">available shows</h4>
 {{#each availableShows}}
 <div style="display: flex; justify-content: space-around;">
<h3 style="color: white;">{{this.Show}}</h3>
<a href="/theater-management/offline-booking/{{this._id}}"><button style=" float: inline-end; margin: 4px;" class="btn btn-info">Booking</button></a>
</div>
<hr style="background: rgb(68, 63, 63);">
{{/each}}
</div>

</div>