<style>
  
</style>
<div style=" height: 585px; background-color: #010423; margin-top: 60px;margin-left: 60px; ">
    <div style=" position: relative; ">
        <img src="/images/theatre_article.jpg" style="width: 100%;" alt="ss">
        <div style="
       position: absolute; 
       width: 700px; height:380px; 
       background-color: rgba(255, 255, 255, 0.494);
        left: 350px; top: 17%;
        border-radius: 7px;
        box-shadow: 0px 0px 3px 1px #fff;
        ">
            <div style="
        margin-left: 240px;
        margin-top: 90px; color: rgb(10, 14, 49);">
                <h3><b>Owner</b> &nbsp;&nbsp;&nbsp; <span>Mishab</span></h3>
                <h3><b>Theater</b> &nbsp;&nbsp;<span>Mishab</span></h3>
                <h3><b>Email</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> sdfsdf@.cposfd</span></h3>
                <h3><b>Phone</b> &nbsp;&nbsp;&nbsp; <span>1234567890</span></h3>
                <div style="display: flex; flex-direction: row;">
                    <div>
                <button style="background: rgb(10, 14, 49); color: wheat; margin-top: 40px;" class="btn">Edit details</button>
                    </div>
                    <div>
                <button style=" margin-left: 50px; background: rgb(10, 14, 49); color: wheat; margin-top: 40px;" class="btn">Edit details</button>
                    </div>
                </div>


            </div>
        </div>
        <div style="
      position: absolute; 
      width: 400px; height: 250px; 
      background-color: rgba(255, 255, 255, 0.494); 
      left: 170px; top: 30%;
        border-radius: 7px;
        box-shadow: 0px 0px 3px 1px #fff;
      ">
            <img style="
 margin-left: 30px;
 margin-top: 30px;
 border-radius: 5px;
 " src="/images/defaultProfile.png" width="180px" height="180px" alt="">
            <button style="margin-top: 20px; margin-left: 50px; background: rgb(10, 14, 49); color: wheat;"
                class="btn ">Add Image</button>
        </div>
    </div>
</div>